<footer>
    <div class="footer">
        <span type="button" onclick="location.href='/';">Inicio</span>
        <span type="button" onclick="location.href='/recetas';">Recetas</span>
        <span type="button" onclick="location.href='/Nutricionistas';">Nutricionistas</span>
        <img class="logo" alt="logo">
        <span type="button" onclick="location.href='/registro';">Login</span>
    </div>
</footer>