<footer>
    <div class="footer">
        <div class="items_footer">
            <span class="item_footer" type="button" onclick="location.href='/';">Inicio</span>
            <span class="item_footer" type="button" onclick="location.href='/recetas';">Recetas</span>
            <span class="item_footer" type="button" onclick="location.href='/Nutricionistas';">Nutricionistas</span>
            <span class="item_footer" type="button" onclick="location.href='/registro';">Login</span>
        </div>        
        <img class="logo" src="/images/logo1.jpg" alt="logo" style="width: 90px; ">        
    </div>
</footer>