<header>
    <div class="menu">
        <div class="items">
            <div class="item_block">
                <span class="glyphicon glyphicon-home item_icon"></span>
                <span class="item" type="button" onclick="location.href='/';">INICIO</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-cutlery item_icon"></span>
                <span class="item" type="button" onclick="location.href='/recetas';">RECETAS</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-apple item_icon"></span>
                <span class="item" type="button" onclick="location.href='/Nutricionistas';">NUTRICIONISTAS</span>
            </div>
        </div>
        <img class="logo" src="/images/bienmesabe-logo.svg" alt="logo" style="width: 90px; ">
        <div class="items_right">            
            <div class="item_block">
                <span class="glyphicon glyphicon-user-group login_icon"></span>
                <span class="login" type="button" onclick="location.href='/registro';">SOBRE NOSOTROS</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-envelope login_icon"></span>
                <span class="login" type="button" onclick="location.href='/registro';">CONTACTO</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-user login_icon"></span>
                <span class="login" type="button" onclick="location.href='/registro';">LOGIN</span>
            </div>
        </div>
    </div>
</header