<header>
    <div class="menu">
        <div class="items">
            <span type="button" onclick="location.href='/';">Inicio</span>
            <span type="button" onclick="location.href='/recetas';">Recetas</span>
            <span type="button" onclick="location.href='/Nutricionistas';">Nutricionistas</span>
        </div>
        <img class="logo" alt="logo">
        <span class="login" type="button" onclick="location.href='/registro';" >Login</span>
    </div>
</header>