<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>            
        </button>
        <img class="logo-toggler" src="/images/bienmesabe-logo.svg" alt="logo">
        <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="items_left">
                    <div class="item_block">
                        <span class="glyphicon glyphicon-home item_icon"></span>
                        <span class="item" type="button" onclick="location.href='/';">INICIO</span>
                    </div>
                    <div class="item_block">
                        <span class="glyphicon glyphicon-cutlery item_icon"></span>
                        <span class="item" type="button" onclick="location.href='/recetas';">RECETAS</span>
                    </div>
                    <div class="item_block">
                        <span class="glyphicon glyphicon-apple item_icon"></span>
                        <span class="item" type="button" onclick="location.href='/Nutricionistas';">NUTRICIONISTAS</span>
                    </div>
                </div>                
            </ul>
            <img class="logo" src="/images/bienmesabe-logo.svg" alt="logo">
            <ul class="navbar-nav mr-auto">
                <div class="items_right">
                    <div class="item_block">
                        <span class="glyphicon glyphicon-envelope login_icon"></span>
                        <span class="login" type="button" onclick="location.href='/';">CONTACTO</span>
                    </div>
                    <div class="item_block">
                        <span class="glyphicon glyphicon-log-in login_icon"></span>
                        <span class="login" type="button" onclick="location.href='/registro';">REGISTRARSE</span>
                    </div>
                    <div class="item_block">
                        <span class="glyphicon glyphicon-user login_icon"></span>
                        <span class="login" type="button" onclick="location.href='/';">INICIAR SESIÓN</span>
                    </div>
                </div>

            </ul>
        </div>
    </nav>
    <!-- <div class="menu">
        <div class="items">
            <div class="item_block">
                <span class="glyphicon glyphicon-home item_icon"></span>
                <span class="item" type="button" onclick="location.href='/';">INICIO</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-cutlery item_icon"></span>
                <span class="item" type="button" onclick="location.href='/recetas';">RECETAS</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-apple item_icon"></span>
                <span class="item" type="button" onclick="location.href='/Nutricionistas';">NUTRICIONISTAS</span>
            </div>
        </div>
        <img class="logo" src="/images/bienmesabe-logo.svg" alt="logo">
        <div class="items_right">
            <div class="item_block">
                <span class="glyphicon glyphicon-envelope login_icon"></span>
                <span class="login" type="button" onclick="location.href='/';">CONTACTO</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-log-in login_icon"></span>
                <span class="login" type="button" onclick="location.href='/registro';">REGISTRARSE</span>
            </div>
            <div class="item_block">
                <span class="glyphicon glyphicon-user login_icon"></span>
                <span class="login" type="button" onclick="location.href='/';">INICIAR SESIÓN</span>
            </div>
        </div>
    </div> -->
</header