<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="logo-toggler" src="/images/bienmesabe-logo.svg" alt="logo" onclick="location.href='/';">
        <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="items_left">
                    <div class="item_block">
                        <i class="fas fa-home item_icon"></i>
                        <span class="item" type="button" onclick="location.href='/';">INICIO</span>
                    </div>
                    <div class="item_block">
                        <i class="fas fa-utensils item_icon"></i>
                        <span class="item" type="button" onclick="location.href='/recetas';">RECETAS</span>
                    </div>
                    <div class="item_block">
                        <i class="fas fa-apple-alt item_icon"></i>
                        <span class="item nutri" type="button"
                            onclick="location.href='/Nutricionistas';">NUTRICIONISTAS</span>
                    </div>
                </div>
            </ul>
            <img class="logo" src="/images/bienmesabe-logo.svg" alt="logo" onclick="location.href='/';">
            <ul class="navbar-nav mr-auto">
                <div class="items_right">
                    <div class="item_block">
                        <i class="fas fa-envelope login_icon cont"></i>
                        <span class="login contact" type="button" onclick="location.href='/';">CONTACTO</span>
                    </div>
                    <div class="item_block">
                        <i class="fas fa-sign-in-alt login_icon"></i>
                        <span class="login" type="button" onclick="location.href='/registro';">REGISTRARSE</span>
                    </div>
                    <div class="item_block">
                        <i class="fas fa-user login_icon"></i>
                        <span class="login" type="button" onclick="location.href='/login';">INICIAR SESIÓN</span>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</header