<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/registro.css' />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Encriptador MD5 -->
    <script src="http://pajhome.org.uk/crypt/md5/2.2/md5-min.js"></script>
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="../javascripts/script-copy.js"></script>
</head>

<body>
    <!-- Header -->
    <%- include('./header'); %>

        <!-- Checkin Usuarios -->
        <div class="checkIn_container">
            <h2>Registro de usuarios:</h2>
            <form name="registrationForm" id="registrationForm">
                <div id="registerUser">
                    <div class="inputs_form">
                        <label for="name">Nombre</label><text style="color:red;font-size:15px"> *</text>
                        <div class="inputs-group">
                            <input class="form-control" type="text" id="name" placeholder="Nombre" minlength="5"
                                maxlength="50" required>
                            <i class="fas fa-info-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                            </i>
                            <i class="fas fa-exclamation-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                            </i>
                            <i class="fas fa-check-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                            </i>
                        </div>
                    </div>
                    <div class="inputs_form">
                        <label for="surnames">Apellidos</label>
                        <div class="inputs-group">
                            <input class="form-control" type="text" id="surnames" placeholder="Apellidos" minlength="5"
                                maxlength="100">
                            <i class="fas fa-info-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                            </i>
                            <i class="fas fa-exclamation-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                            </i>
                            <i class="fas fa-check-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                            </i>
                        </div>
                    </div>
                    <div class="inputs_form">
                        <label for="phone">Teléfono</label>
                        <div class="inputs-group">
                            <input class="form-control" type="text" id="phone" placeholder="Teléfono" minlength="9"
                                maxlength="9">
                            <i class="fas fa-info-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                            </i>
                            <i class="fas fa-exclamation-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                            </i>
                            <i class="fas fa-check-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                            </i>
                        </div>
                    </div>
                    <div class="inputs_form">
                        <label for="alias">Alias</label><text style="color:red;font-size:15px"> *</text>
                        <div class="inputs-group">
                            <input class="form-control" type="text" id="alias" placeholder="Alias" id='alias'
                                minlength="3" maxlength="50" required>
                            <i class="fas fa-info-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                            </i>
                            <i class="fas fa-exclamation-circle" id="tooltipExc"></i>
                            <i class="fas fa-check-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                            </i>
                        </div>
                    </div>
                    <div class="inputs_form">
                        <label for="email">Email</label><text style="color:red;font-size:15px"> *</text>
                        <div class="inputs-group">
                            <input class="form-control" type="email" id="email" placeholder="Email" minlength="5"
                                maxlength="100" required>
                            <i class="fas fa-info-circle" id="tooltipInfoEmail">
                                <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                            </i>
                            <i class="fas fa-exclamation-circle" id="tooltipExcEmail"></i>
                            <i class="fas fa-check-circle" id="tooltipCheckEmail"></i>
                        </div>
                    </div>
                    <div class="inputs_form">
                        <label for="pswrd">Contraseña</label><text style="color:red;font-size:15px"> *</text>
                        <div class="inputs-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="viewPass"><i class="fa fa-eye"></i></span>
                            </div>
                            <input class="form-control" type="password" id="pswrd" placeholder="Contraseña"
                                minlength="8" maxlength="50" required>
                            <i class="fas fa-info-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                            </i>
                            <i class="fas fa-exclamation-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                            </i>
                            <i class="fas fa-check-circle">
                                <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                            </i>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="nutritionist" value="yes" />
                        <label for="nutritionist">Soy nutricionista</label>
                    </div>
                    <div id="registerNutritionist">
                        <div class="inputs_form">
                            <label for="nif">NIF/DNI/NIE/CIF</label><text style="color:red;font-size:15px"> *</text>
                            <div class="inputs-group">
                                <select id="document">
                                    <option value="nif" selected="selected">NIF/DNI</option>
                                    <option value="nie">NIE</option>
                                    <option value="cif">CIF</option>
                                </select>
                                <input class="form-control" type="text" id="nif" placeholder="NIF/DNI/NIE/CIF" id='nif'
                                    minlength='9' maxlength='9' required>
                                <i class="fas fa-info-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                                </i>
                                <i class="fas fa-exclamation-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                                </i>
                                <i class="fas fa-check-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                                </i>
                            </div>
                        </div>
                        <div class="inputs_form">
                            <label for="pc">Código Postal</label><text style="color:red;font-size:15px"> *</text>
                            <div class="inputs-group">
                                <input class="form-control" type="text" id="pc" placeholder="Código Postal"
                                    minlength='5' maxlength='5' required>
                                <i class="fas fa-info-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                                </i>
                                <i class="fas fa-exclamation-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                                </i>
                                <i class="fas fa-check-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                                </i>
                            </div>
                        </div>
                        <div class="inputs_form">
                            <label for="city">Población</label><text style="color:red;font-size:15px"> *</text>
                            <div class="inputs-group">
                                <input class="form-control" type="text" id="city" placeholder="Población" minlength='3'
                                    maxlength='50' required>
                                <i class="fas fa-info-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                                </i>
                                <i class="fas fa-exclamation-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                                </i>
                                <i class="fas fa-check-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                                </i>
                            </div>
                        </div>
                        <div class="inputs_form">
                            <label for="direction">Dirección</label>
                            <div class="inputs-group">
                                <input class="form-control" type="text" id="direction" placeholder="Dirección"
                                    minlength='5' maxlength='100'>
                                <i class="fas fa-info-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                                </i>
                                <i class="fas fa-exclamation-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                                </i>
                                <i class="fas fa-check-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                                </i>
                            </div>
                        </div>
                        <div class="inputs_form">
                            <label for="company">Compañía</label>
                            <div class="inputs-group">
                                <input class="form-control" type="text" id="company" placeholder="Compañía"
                                    minlength='2' maxlength='50'>
                                <i class="fas fa-info-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                                </i>
                                <i class="fas fa-exclamation-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                                </i>
                                <i class="fas fa-check-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                                </i>
                            </div>
                        </div>
                        <div class="inputs_form">
                            <label for="business_phone">Teléfono de empresa</label>
                            <div class="inputs-group">
                                <input class="form-control" type="text" id="business_phone"
                                    placeholder="Teléfono de empresa" minlength='9' maxlength='9'>
                                <i class="fas fa-info-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipInfo">Tooltip text</span>
                                </i>
                                <i class="fas fa-exclamation-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipExc">Tooltip text</span>
                                </i>
                                <i class="fas fa-check-circle">
                                    <span class="tooltiptext tooltip-right" id="tooltipCheck">Tooltip text</span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <button class="btn_checkIn" id='submit'>REGISTRAR</button>
                </div>
            </form>
        </div>

        <!-- Footer -->
        <%- include('./footer'); %>
</body>

</html>