<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./header'); %>
    <h1>Registro de usuarios:</h1>

    <div style='padding:20px 40% 0% 0%; text-align: right;'>
        <form name="registrationForm" id="registrationForm">
            <div id="registerUser">
                <div>
                    <p><span style="color:red;font-size:15px">* </span>Nombre: <input type='text' id='name' required minlength="5" maxlength="50" required></p>
                    <p>Apellidos: <input type='text' id='surnames' minlength="5" maxlength="100"></p>
                    <p>Teléfono: <input type='text' id='phone' minlength="9" maxlength="9"></p>
                    <p><span style="color:red;font-size:15px">* </span>Alias <input type='text' id='alias' minlength="3" maxlength="50" required></p>
                    <p><span style="color:red;font-size:15px">* </span>Email <input type="email" id='email' minlength="5" maxlength="100" required></p>
                    <p><span style="color:red;font-size:15px">* </span>Contraseña: <button style="background-color: transparent; border: 1px solid #00000075; margin-right: 5px;" id="viewPass"><i class="fa fa-eye"></i></button><input type="password" id='pswrd' minlength="8" maxlength="50" required>
                        
                    </p>                        
                    <p><span style="color:red;font-size:15px">* </span>NIF/DNI: <input type='text' id='nif' minlength="9" maxlength="9" required></p>
                    <p>Eres un nutricionista?
                        <input type="radio" name="nutritionist" value="yes" /> Si
                        <input type="radio" name="nutritionist" value="no" /> No</p>
                </div>
            </div>
            <div id="registerNutritionist">
            </div>
            <button id='submit'>Registrar</button>
        </form>
    </div>
    <%- include('./footer'); %>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Encriptador MD5 -->
    <script src="http://pajhome.org.uk/crypt/md5/2.2/md5-min.js"></script>
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="../javascripts/script.js"></script>
</body>


</html>