<!DOCTYPE html>
<html lang="es">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/crearReceta.css' />
    <script src="../javascripts/token.js"></script>
    <script src="../javascripts/addModifyRecipe.js"></script>
    <!-- Encriptador MD5 -->
    <script src="http://pajhome.org.uk/crypt/md5/2.2/md5-min.js"></script>
</head>

<body>
    <!-- Header -->
    <%- include('./header'); %>

        <!-- Add recipe -->
        <div class="recipe_container">
            <div class="title">Crear receta</div>
            <div class="top">
                <div class="inputs">
                    <label>Nombre de la receta</label>
                    <input id="inp_name" type="text" placeholder="Introduce el nombre de la receta">
                </div>
                <div class="inputs dropzone">
                    <label>Imagen/video principal</label>
                    <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
                        <div class="fallback">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="imageVideoRecipe"
                                    id="dropzoneBasicUpload" multiple="multiple">
                                <label class="custom-file-label" id="imageVideoRecipe" for="dropzoneBasicUpload">Elije
                                    archivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="selects">
                <div class="inputs">
                    <label>Dificultad de la receta</label>
                    <div class="cantidad">
                        <select class="difficult">
                            <option value="0">Muy baja</option>
                            <option value="1">Baja</option>
                            <option value="2">Media</option>
                            <option value="3">Dificil</option>
                            <option value="4">Muy dificil</option>
                        </select>
                    </div>
                </div>
                <div class="inputs">
                    <label>Tiempo estimado para realizar la receta (en minutos)</label>
                    <div class="cantidad">
                        <select class="time">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                            <option value="55">55</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                </div>
                <div class="inputs">
                    <label>Tipo de plato</label>
                    <div class="cantidad">
                        <select class="type">
                            <option value="1">Entrantes</option>
                            <option value="2">Primeros</option>
                            <option value="3">Segundos</option>
                            <option value="4">Postres</option>
                            <option value="5">Repostería</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="inputs">
                <label>Descripción de la receta</label>
                <textarea id="inp_description" placeholder="Introduce la descripción de la receta"></textarea>
            </div>
            <label>Introduce los ingredientes y su cantidad (cantidades para una persona)</label>
            <div id="ingredients">
                <div class="ingr_cont">
                    <div class="ingredients">
                        <div class="cantidad">
                            <select class="ingredient">
                                <option value="U">u.</option>
                                <option value="G">gr</option>
                                <option value="S">chr.</option>
                            </select>
                            <input class="quan" type="text" placeholder="Cantidad">
                        </div>
                        <input list="list_ingredient" name="ingredient" id="inp_ingredient_0"
                            placeholder="Introduce un ingrediente esté o no en la lista" style="width: 100%;">
                        <datalist id="list_ingredient"></datalist>
                    </div>
                </div>
                <div class="ingr_cont">
                    <div class="ingredients">
                        <div class="cantidad">
                            <select class="ingredient">
                                <option value="U">u.</option>
                                <option value="G">gr</option>
                                <option value="S">chr.</option>
                            </select>
                            <input class="quan" type="text" placeholder="Cantidad">
                        </div>
                        <input list="list_ingredient" name="ingredient" id="inp_ingredient_1"
                            placeholder="Introduce un ingrediente esté o no en la lista" style="width: 100%;">
                        <datalist id="list_ingredient"></datalist>
                    </div>
                </div>
                <div class="ingr_cont">
                    <div class="ingredients">
                        <div class="cantidad">
                            <select class="ingredient">
                                <option value="U">u.</option>
                                <option value="G">gr</option>
                                <option value="S">chr.</option>
                            </select>
                            <input class="quan" type="text" placeholder="Cantidad">
                        </div>
                        <input list="list_ingredient" name="ingredient" id="inp_ingredient_2"
                            placeholder="Introduce un ingrediente esté o no en la lista" style="width: 100%;">
                        <datalist id="list_ingredient"></datalist>
                    </div>
                </div>
                <div class="ingr_cont">
                    <div class="ingredients">
                        <div class="cantidad">
                            <select class="ingredient">
                                <option value="U">u.</option>
                                <option value="G">gr</option>
                                <option value="S">chr.</option>
                            </select>
                            <input class="quan" type="text" placeholder="Cantidad">
                        </div>
                        <input list="list_ingredient" name="ingredient" id="inp_ingredient_3"
                            placeholder="Introduce un ingrediente esté o no en la lista" style="width: 100%;">
                        <datalist id="list_ingredient"></datalist>
                    </div>
                </div>
                <div class="ingr_cont">
                    <div class="ingredients">
                        <div class="cantidad">
                            <select class="ingredient">
                                <option value="U">u.</option>
                                <option value="G">gr</option>
                                <option value="S">chr.</option>
                            </select>
                            <input class="quan" type="text" placeholder="Cantidad">
                        </div>
                        <input list="list_ingredient" name="ingredient" id="inp_ingredient_4"
                            placeholder="Introduce un ingrediente esté o no en la lista" style="width: 100%;">
                        <datalist id="list_ingredient"></datalist>
                    </div>
                </div>
                <div class="ingr_cont">
                    <div class="ingredients">
                        <div class="cantidad">
                            <select class="ingredient">
                                <option value="U">u.</option>
                                <option value="G">gr</option>
                                <option value="S">chr.</option>
                            </select>
                            <input class="quan" type="text" placeholder="Cantidad">
                        </div>
                        <input list="list_ingredient" name="ingredient" id="inp_ingredient_5"
                            placeholder="Introduce un ingrediente esté o no en la lista" style="width: 100%;">
                        <datalist id="list_ingredient"></datalist>
                    </div>
                </div>
            </div>

            <button class="button btn_addIngr" type="button">Añadir más ingredientes</button>
            <label>Introduce los pasos de la receta</label>
            <div id="steps">
                <div class="pasos_cont">
                    <div class="pasos">
                        <div class="inputs">
                            <label>Descripción paso 1</label>
                            <textarea class="desc_pas" id="desc_pas_0"
                                placeholder="Introduce la descripción del paso 1"></textarea>
                        </div>
                        <div class="inputs dropzone">
                            <label>Imagen paso 1</label>
                            <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file" name="image_pas_0" class="custom-file-input" id="dropzoneBasicUpload" multiple="multiple">
                                        <label class="custom-file-label" id="image_pas_0" id="imagenpasos" for="dropzoneBasicUpload">Elije
                                            archivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pasos_cont">
                    <div class="pasos">
                        <div class="inputs">
                            <label>Descripción paso 2</label>
                            <textarea class="desc_pas" id="desc_pas_1"
                                placeholder="Introduce la descripción del paso 2"></textarea>
                        </div>
                        <div class="inputs dropzone">
                            <label>Imagen paso 2</label>
                            <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file" name="image_pas_1" class="custom-file-input" id="dropzoneBasicUpload" multiple="multiple">
                                        <label class="custom-file-label" id="image_pas_1" for="dropzoneBasicUpload">Elije archivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pasos_cont">
                    <div class="pasos">
                        <div class="inputs">
                            <label>Descripción paso 3</label>
                            <textarea class="desc_pas" id="desc_pas_2"
                                placeholder="Introduce la descripción del paso 3"></textarea>
                        </div>
                        <div class="inputs dropzone">
                            <label>Imagen paso 3</label>
                            <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file" name="image_pas_2" class="custom-file-input" id="dropzoneBasicUpload" multiple="multiple">
                                        <label class="custom-file-label" id="image_pas_2"  for="dropzoneBasicUpload">Elije archivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pasos_cont">
                    <div class="pasos">
                        <div class="inputs">
                            <label>Descripción paso 4</label>
                            <textarea class="desc_pas" id="desc_pas_3"
                                placeholder="Introduce la descripción del paso 4"></textarea>
                        </div>
                        <div class="inputs dropzone">
                            <label>Imagen paso 4</label>
                            <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file" name="image_pas_3" class="custom-file-input" id="dropzoneBasicUpload" multiple="multiple">
                                        <label class="custom-file-label" id="image_pas_3"  for="dropzoneBasicUpload">Elije archivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pasos_cont">
                    <div class="pasos">
                        <div class="inputs">
                            <label>Descripción paso 5</label>
                            <textarea class="desc_pas" id="desc_pas_4"
                                placeholder="Introduce la descripción del paso 5"></textarea>
                        </div>
                        <div class="inputs dropzone">
                            <label>Imagen paso 5</label>
                            <div class="dropzone dropzone-single" data-toggle="dropzone" data-dropzone-url="http://">
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file"  id="image_pas_4" class="custom-file-input" id="dropzoneBasicUpload" multiple="multiple">
                                        <label class="custom-file-label" name="image_pas_4" for="dropzoneBasicUpload">Elije archivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button btn_addPasos" type="button">Añadir más pasos</button>
            <div class="inputs">
                <label>Comentario final</label>
                <textarea id="inp_descriptionEnding"
                    placeholder="Introduce la descripción final de la receta"></textarea>
            </div>
            <button class="button btn_save" type="button" data-toggle="modal">GUARDAR</button>

            <!-- Modal -->
            <div class="modal fade" id="addRecipe" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Receta creada</h5>
                            <button type="button" class="close btn_checkIn" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Receta creada/modificada con éxito. Tu receta podrás verla en tu panel
                            de usuario.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button btn_checkIn" >Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal add recipe -->
        <div class="modal fade" id="modalAddComment" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tienes que introducir mínimo el nombre de la receta y una imagen para poder guardarla.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modalAddComment button" data-dismiss="modal">Aceptar</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('./footer'); %>
</body>

</html>