<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/ficha.css' />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="../javascripts/token.js"></script>
    <script src="../javascripts/recipeCard.js"></script>
</head>

<body>
    <!-- Header -->
    <%- include('./header'); %>

    <!-- Recipes -->
    <div class="recipe_container">
        <div class="title"></div>
        <div class="alias_cont"></div>
        <!-- Score -->
        <!-- Description -->
        <div class="desc_rec init">
            <p>Descripción de la receta<br></br>
            </p>
        </div>

        <!-- Ingredients container -->
        <div class="ingredients_cont">
            <div class="details_rec">
                <p id='dinner'>
                </p>
                <div class="info_rec">
                    <p id="level">
                    </p>
                    <div class="time_rec">
                        <i class="fas fa-clock clock"></i>
                        <p id="time">
                        </p>
                    </div>
                </div>
            </div>
            <div class="ingredients">
                <h5>Ingredientes</h5>
                <ul class="ingredient">
                </ul>
            </div>
            <div class="caloricTables">
                <h5>Tabla calórica (100gr)</h5>
                <table class="caloricTable">
                </table>
            </div>
        </div>

        <!-- Steps -->
        <div class="steps">
            <div id="accordion">
            </div>
        </div>

        <!-- Final comment -->
        <div class="desc_rec ending">
            <p>Comentario final<br></br>
            </p>
        </div>

        <!-- Publicidad -->
        <div class="advertisements">
            <img src="/images/anuncio-vert.png" alt="Publicidad">
        </div>

        <!-- Comments user -->
        <div class="comment_cont">
            <div class="score_user">
                <img class="forkValue" id="fork1" value="5" src="/images/tenedor-black.svg" alt="tenerdor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork2" value="4" src="/images/tenedor-black.svg" alt="tenerdor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork3" value="3" src="/images/tenedor-black.svg" alt="tenerdor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork4" value="2" src="/images/tenedor-black.svg" alt="tenerdor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork5" value="1" src="/images/tenedor-black.svg" alt="tenerdor"
                    style="width: 20px; height: 40px;">
            </div>
            <div class="input_comment">
                <textarea id="textComment" placeholder="Escribe tu comentario"></textarea>
                <button class="button btn_send" type="button" id='submit'>ENVIAR</button>
            </div>
        </div>
        <div class="comments_users">
        </div>
        <!-- Modal update assessment -->
        <div class="modal fade" id="updateAssessment" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ya valoraste esta receta con otra puntuación ¿Quieres modificar tu valoración?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button btn_accept">Aceptar</button>
                        <button type="button" class="button" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal same assessment -->
        <div class="modal fade" id="sameAssessment" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ya valoraste esta receta con la misma puntuación.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button" data-dismiss="modal">Aceptar</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal update assessment -->
        <div class="modal fade" id="sameComment" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ya comentaste esta receta.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button" data-dismiss="modal">Aceptar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <%- include('./footer'); %>
</body>

</html>