<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/ficha.css' />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="../javascripts/recipeCard.js"></script>
</head>

<body>
    <!-- Header -->
    <%- include('./header'); %>

        <!-- Recipes -->
        <div class="recipe_container">
            <div class="title"></div>
            <!-- <img src="/images/foto-slide.jpg" alt="Imagen receta"> -->

            <!-- Score -->
            <!-- <div class="score_rec">
                <img src="/images/tenedor-black.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                <img src="/images/tenedor-black.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                <img src="/images/tenedor-gold.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                <img src="/images/tenedor-gold.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                <img src="/images/tenedor-gold.svg" alt="tenerdor" style="width: 20px; height: 40px;">
            </div>
 -->
            <!-- Description -->
            <div class="desc_rec">
                <p>Descripción de la receta<br></br>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit pulvinar interdum ullamcorper ligula lacus
                    fringilla dapibus, tempus dictum mattis euismod parturient venenatis consequat vel faucibus natoque
                    cursus vivamus in. Sem cras blandit vulputate inceptos dapibus nulla arcu, ante cursus euismod
                    sociosqu litora duis massa, tempor dictum nibh dui integer fringilla.
                    Lorem ipsum dolor sit amet consectetur adipiscing elit pulvinar interdum ullamcorper ligula lacus
                    fringilla dapibus, tempus dictum mattis euismod parturient venenatis consequat vel faucibus natoque
                    cursus vivamus in. Sem cras blandit vulputate inceptos dapibus nulla arcu, ante cursus euismod
                    sociosqu litora duis massa, tempor dictum nibh dui integer fringilla.
                </p>
            </div>

            <!-- Ingredients container -->
            <div class="ingredients_cont">
                <div class="details_rec">
                    <p id='dinner'><!-- Receta para 2 personas --></p>
                    <div class="info_rec">
                        <p id="level"><!-- Dificultad baja --></p>
                        <div class="time_rec">
                            <i class="fas fa-clock clock"></i>
                            <p id="time"><!-- 15 min --></p>
                        </div>
                    </div>
                </div>
                <div class="ingredients">
                    <h5>Ingredientes</h5>
                    <ul class="ingredient">
                        <!-- <li>2 huevos</li>
                        <li>75gr harina fina de maíz</li>
                        <li>75gr harina de arroz</li>
                        <li>150gr zanahoria rallada</li>
                        <li>175gr azúcar</li>
                        <li>50gr nueces</li>
                        <li>125gr aceite de girasol</li> -->
                    </ul>
                </div>
            </div>

            <!-- Steps -->
            <div class="steps">
                <div id="accordion">
                    <!--<div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Paso 1
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson adsquid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable raw denim VHS.
                                </p>
                                <img src="/images/maxresdefault.jpg" alt="paso 1">
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Paso 2
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson adsquid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </p>
                                <img src="/images/maxresdefault.jpg" alt="paso 2">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    Paso 3
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson adsquid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </p>
                                <img src="/images/maxresdefault.jpg" alt="paso 2">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    Paso 4
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson adsquid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </p>
                                <img src="/images/maxresdefault.jpg" alt="paso 2">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    Paso 5
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson adsquid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </p>
                                <img src="/images/maxresdefault.jpg" alt="paso 2">
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>

            <!-- Final comment -->
            <div class="desc_rec">
                <p>Comentario final<br></br>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit pulvinar interdum ullamcorper ligula lacus
                    fringilla dapibus, tempus dictum mattis euismod parturient venenatis consequat vel faucibus natoque
                    cursus vivamus in. Sem cras blandit vulputate inceptos dapibus nulla arcu, ante cursus euismod
                    sociosqu litora duis massa, tempor dictum nibh dui integer fringilla.
                </p>
            </div>

            <!-- Publicidad -->
            <div class="advertisements">
                <img src="/images/anuncio-vert.png" alt="Publicidad">
            </div>

            <!-- Comments user -->
            <div class="comment_cont">
                <div class="input_comment">
                    <textarea placeholder="Escribe tu comentario"></textarea>
                    <button class="btn_send" type="button" onclick="location.href='/';">ENVIAR</button>
                </div>
                <div class="score_rec user">
                    <img src="/images/tenedor-black.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                    <img src="/images/tenedor-black.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                    <img src="/images/tenedor-gold.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                    <img src="/images/tenedor-gold.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                    <img src="/images/tenedor-gold.svg" alt="tenerdor" style="width: 20px; height: 40px;">
                </div>
            </div>
            <div class="comments_users">
                <div class="comment_user">
                    <p id="alias">Alias usuario</p>
                    <p id="comment">Lorem ipsum dolor sit amet consectetur adipiscing elit pulvinar interdum ullamcorper ligula lacus
                        fringilla dapibus, tempus dictum mattis euismod parturient venenatis consequat vel faucibus
                        natoque cursus vivamus in. </p>
                </div>
                <div class="comment_user">
                    <p id="alias">Alias usuario</p>
                    <p id="comment">Lorem ipsum dolor sit amet consectetur adipiscing elit pulvinar interdum ullamcorper ligula lacus
                        fringilla dapibus, tempus dictum mattis euismod parturient venenatis consequat vel faucibus
                        natoque cursus vivamus in. </p>
                </div>
                <div class="comment_user">
                    <p id="alias">Alias usuario</p>
                    <p id="comment">Lorem ipsum dolor sit amet consectetur adipiscing elit pulvinar interdum ullamcorper ligula lacus
                        fringilla dapibus, tempus dictum mattis euismod parturient venenatis consequat vel faucibus
                        natoque cursus vivamus in. </p>
                </div>
                <div class="comment_user">
                    <p id="alias">Alias usuario</p>
                    <p id="comment">Lorem ipsum dolor sit amet consectetur adipiscing elit pulvinar interdum ullamcorper ligula lacus
                        fringilla dapibus, tempus dictum mattis euismod parturient venenatis consequat vel faucibus
                        natoque cursus vivamus in. </p>
                </div>
            </div>

        </div>


        <!-- Footer -->
        <%- include('./footer'); %>
</body>

</html>