<!DOCTYPE html>
<html lang="es">
    
<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/fichaNutri.css' />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="../javascripts/token.js"></script>
    <script src="../javascripts/fileNutricionist.js"></script>
</head>

<body>
    <!-- Header -->
    <%- include('./header'); %>

    <!-- Recipes -->
    <div class="nutri_container">
        <!-- Score -->
        <div class="score_rec">
        </div>
        <h1 id="nameNutri"></h1>
        <h5 id="direccion"></h5>
        <h5 id="titulacion"></h5>
        <!-- Description -->
        <div class="descNutri">
            <p>Descripción del nutricionista</p>
        </div>
        <div class="buttons">
            <button class="button btn_hire" type="button">CONTRATAR</button>
            <button class="button btn_fire" type="button">PRESCINDIR DE SUS SERVICIOS</button>   
        </div>
        
        <!-- Comments user -->
        <div class="comment_cont">
            <div class="score_user">
                <img class="forkValue" id="fork1" value="5" src="/images/tenedor-black.svg" alt="tenedor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork2" value="4" src="/images/tenedor-black.svg" alt="tenedor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork3" value="3" src="/images/tenedor-black.svg" alt="tenedor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork4" value="2" src="/images/tenedor-black.svg" alt="tenedor"
                    style="width: 20px; height: 40px;">
                <img class="forkValue" id="fork5" value="1" src="/images/tenedor-black.svg" alt="tenedor"
                    style="width: 20px; height: 40px;">
            </div>
            <div class="input_comment">
                <textarea id="textComment" placeholder="Escribe tu comentario"></textarea>
                <button class="button btn_send" type="button" id='submit'>ENVIAR</button>
            </div>
        </div>
        <div class="comments_users">
        </div>
    </div>
    <!-- Modal hire nutricionist -->
    <div class="modal fade" id="hireNutricionist" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Seguro que quieres contratar los servicios del nutricionista?
                </div>
                <div class="modal-footer">
                    <button type="button" class="button btn_acceptHireNutricionist">Aceptar</button>
                    <button type="button" class="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal fire assessment -->
    <div class="modal fade" id="fireNutricionist" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Seguro que quieres dejar de recibir los servicios del nutricionista?
                </div>
                <div class="modal-footer">
                    <button type="button" class="button btn_acceptFireNutricionist">Aceptar</button>
                    <button type="button" class="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./footer'); %>
</body>

</html>