<footer>
    <div class="footer">
        <img class="logo_footer" src="/images/bienmesabe-logo-white.svg" alt="logo" onclick="location.href='/';">
        <div class="items_footer">
            <span class="item_footer" type="button" onclick="location.href='/';">BIEN ME SABE</span>
            <span class="item_footer contact" type="text">info@bienmesabe.com</span>
            <span class="item_footer contact" type="text">T.666 666 666</span>
        </div>    
        <div class="items_footer1">
            <span class="item_footer" type="button" onclick="location.href='/';">INICIO</span>
            <span class="item_footer" type="button" onclick="location.href='/recetas';">RECETAS</span>
            <span class="item_footer" type="button" onclick="location.href='/nutricionistas';">NUTRICIONISTAS</span>
            <span class="item_footer" type="button" onclick="location.href='/registro';">REGISTRARSE</span>
        </div> 
        <div class="items_footer1">
            <span class="item_footer" type="button" onclick="location.href='/login';">INICIAR SESIÓN</span>
            <span class="item_footer" type="button" onclick="location.href='/';">CONTACTO</span>
            <span class="item_footer" type="button" onclick="location.href='/';">SOBRE NOSOTROS</span>
            <span class="item_footer" type="button" onclick="location.href='/politica-privacidad';">POLÍTICA DE PRIVACIDAD</span>
        </div> 
        <div class="items_footerResp">
            <span class="item_footer" type="button" onclick="location.href='/';">INICIO</span>
            <span class="item_footer" type="button" onclick="location.href='/recetas';">RECETAS</span>
            <span class="item_footer" type="button" onclick="location.href='/nutricionistas';">NUTRICIONISTAS</span>
            <span class="item_footer" type="button" onclick="location.href='/registro';">REGISTRARSE</span>
            <span class="item_footer" type="button" onclick="location.href='/login';">INICIAR SESIÓN</span>
            <span class="item_footer" type="button" onclick="location.href='/';">CONTACTO</span>
            <span class="item_footer" type="button" onclick="location.href='/';">SOBRE NOSOTROS</span>
            <span class="item_footer" type="button" onclick="location.href='/politica-privacidad';">POLÍTICA DE PRIVACIDAD</span>
        </div> 
        <div class="items_net">
            <span class="item_footer contact" type="text">¡SÍGUENOS!</span>
            <img class="icons_footer" src="/images/facebook.svg" alt="facebook" onclick="location.href='/';" >
            <img class="icons_footer" src="/images/instagram.svg" alt="instagram" onclick="location.href='/';">
        </div>                     
    </div>
</footer>