<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel='stylesheet' href='/stylesheets/filters.css' />
  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="../javascripts/search.js"></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Header -->
  <%- include('./header'); %>

    <!-- Carousel -->
    <div id="carouselMulti" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carouselMulti" data-slide-to="0" class="active"></li>
        <li data-target="#carouselMulti" data-slide-to="1"></li>
        <li data-target="#carouselMulti" data-slide-to="2"></li>
        <li data-target="#carouselMulti" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carouselMulti" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carouselMulti" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <!-- Selects -->
    <div class="sel_container">
      <div class="sel_title">
        <h2>BUSCADOR DE RECETAS</h2>
        <img src="/images/lupa.svg" alt="lupa">
      </div>
      <div class="selectores">
        <div class="sel_ingredients">
          <label for="ingredient">¿Qué ingredientes tienes?</label>
          <input list="list_ingredient" name="ingredient" id="inp_ingredient"
            placeholder="Introduce los ingredientes deseados">
          <datalist id="list_ingredient"></datalist>
          <div id="ingredientes" style="background-color: #f0f8ff;border: none;border-radius: 3px;min-height: 58px;">
          </div>
        </div>
        <div class="sel_valEnergetic">
          <label for="valEner">Valor energético (Kcal)</label>
          <div class="inp_minMax">
            <select name="valueMin" id="valueMin">
              <option value="all" selected>Valor mínimo</option>
              <option value="0">0</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
            </select>
            <select name="valueMax" id="valueMax">
              <option value="all" selected>Valor máximo</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1000">1000</option>
              <option value="1100">1100</option>
              <option value="1200">1200</option>
              <option value="1300">1300</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1700">1700</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">2000</option>
            </select>
          </div>
        </div>
        <div class="sel_persons">
          <label for="numPer">¿Para cuantas personas?</label>
          <select name="numPer" id="numPer">
            <option value="all" selected>Introduce número de personas</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
          </select>
        </div>
        <div class="sel_typePlate">
          <label for="tPlate">¿Qué tipo de plato buscas?</label>
          <select name="typePlate" id="typePlate">
          </select>
        </div>
      </div>
      <input class="submit" type="submit" value="BUSCAR">
    </div>

    <!-- Publicidad -->
    <div class="adverti_resp">
      <img src="/images/anuncio-vert.png" alt="Publicidad" style="width:100%; height:100%;">
    </div>

    <div class="block_container">
      <!-- Recetas muestra -->
      <div class="rec_container">
        <div class="recipe">
          <img src="/images/entrantes.jpg" alt="Entrantes">
          <h1 class="title_recipe">Entrantes</h1>
        </div>
        <div class="recipe">
          <img src="/images/primeros.jpg" alt="Primeros">
          <h1 class="title_recipe">Primeros</h1>
        </div>
        <div class="recipe">
          <img src="/images/segundos.jpg" alt="Segundos">
          <h1 class="title_recipe">Segundos</h1>
        </div>
        <div class="recipe">
          <img src="/images/postres.jpg" alt="Postres">
          <h1 class="title_recipe">Postres</h1>
        </div>
        <div class="recipe repos">
          <img src="/images/reposteria.jpg" alt="Reposteria">
          <h1 class="title_recipe">Repostería</h1>
        </div>
      </div>

      <!-- Publicidad -->
      <div class="advertisements">
        <div class="advertising">
          <img src="/images/anuncio-droetker.jpg" alt="Publicidad" style="width:100%; height:100%;">
        </div>
        <div class="advertising">
          <img src="/images/anuncio-knorr.jpg" alt="Publicidad" style="width:100%; height:100%;">
        </div>
        <div class="advertising">
          <img src="/images/anuncio-solis.jpg" alt="Publicidad" style="width:100%; height:100%;">
        </div>
      </div>
    </div>

    <!-- Checkin -->
    <div class="checkIn">
      <img class="img-resp" src="/images/CTA-subir-receta-resp.jpg" alt="subir-receta" style="width:100%; height:100%;">
      <img class="img" src="/images/CTA-subir-receta.jpg" alt="subir-receta" style="width:100%; height:100%;">
      <div class="desc">
        <h2>¿Quieres subir tus propias recetas?</h2>
        <p>Regístrate y podrás subir todas las recetas que quieras y votar por las de otros usuarios.</p>
        <button class="btn_checkIn" type="button" onclick="location.href='/registro';">REGÍSTRATE</button>
      </div>
    </div>

    <!-- Latest recipes -->
    <div class="lastRec_container">
      <h2>ÚLTIMAS RECETAS</h2>
      <div class="latest_rec">
      </div>
      <button class="btn_lastRec" type="button">VER MÁS</button>
    </div>

    <!-- Footer -->
    <%- include('./footer'); %>
</body>

</html>