<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" id="conf" href="/panelUsuario">
            <p class="noToggle">Configuración</p>
            <i class="fas fa-cog siToggle noShow"></i>
        </a>
        <a class="list-group-item list-group-item-action bg-light" id="myRec" href="/misRecetas">
            <p class="noToggle">Mis recetas</p>
            <i class="fas fa-utensils siToggle noShow"></i>
        </a>
        <a class="list-group-item list-group-item-action bg-light" id="nutri" href="/panelNutri">
            <p class="noToggle">Nutricionistas</p>
            <i class="fas fa-apple-alt siToggle noShow"></i>
        </a>
        <button class="btn btn_coll" id="menu-toggle">
            <div class="collapseBtn">
                <i class="fas fa-chevron-left noToggle"></i>
                <i class="fas fa-chevron-left noToggle"></i>
                <p class="noToggle">Cerrar</p>
            </div>
            <div class="collapseBtn">
                <i class="fas fa-chevron-right siToggle noShow"></i>
                <i class="fas fa-chevron-right siToggle noShow"></i>
            </div>
        </button>
    </div>
</div>