@import 'reset.css';

/*---HEADER...*/
.menu {
  position: fixed;
  background-color: rgb(236, 143, 82);
  width: 100%;
  height: 122px;
}

.items {
  margin-top: 69px;
  margin-left: 73px;
  display: inline-block;
  font-size: 24px;
}

.item {
  margin-right: 46px;
  cursor: pointer;
}

.logo {
    margin-left: 179px;
}

.login {
  margin-top: 69px;
  margin-right: 73px;
  float: right;
  font-size: 24px;
  cursor: pointer;
}


/*---BODY...*/
body {
  font-family: "Roboto";
  background-color: rgba(250, 249, 222);
}

h1 {
  padding-top: 122px;
}


/*---FOOTER...*/
footer {
  margin-top: 50px;
}

.footer {
  background-color: rgb(236, 143, 82);
  width: 100%;
  height: 122px;
  display: grid;
}

.items_footer {
  display: block;
}
