@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@400;500;700&display=swap');

/*---HEADER---*/
.menu {
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  font-size: 12px;
  font-weight: bold;
  color:black;
  border-bottom: solid 2px #868685;
  align-self: center;
}

.items {
  justify-self: right; 
}

.item_block{
  display: inline-block; 
  cursor: pointer;
}

.item_block:hover{
  color: #ec8f52;
}

.item {
  margin-right: 46px;
}

.item_icon{
  font-size: 12px;
  margin-right: 5px;
  margin-top: 55px;
}

.logo {
  align-self: center;
  justify-self: center;
  width: 90px;
}

.login {
  margin-top: 40px;
  justify-self: left; 
}

.login_icon{
  font-size: 12px;
  margin-top: 55px;
  justify-self: left; 
  margin-left: 46px;
  margin-right: 5px;
}



/*---BODY---*/
body {  
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.body{
  margin: auto;
  width: 1300px;
}

.title {
  font-size: 36px;
  padding-bottom: 15px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  padding-bottom: 15px;
}

h2 {
  font-size: 22px;
  padding-bottom: 15px;
}

h3 {
  font-size: 20px;
  padding-bottom: 15px;
}

h4 {
  font-size: 18px;
  padding-bottom: 15px;
}

h5 {
  font-size: 16px;
  padding-bottom: 15px;
}

p {
  font-size: 14px;
  padding-bottom: 15px;
}

/*---FOOTER---*/
.footer {
  margin-top: 50px;
  background-color: black;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 12px;
  font-weight: bold;
}

.items_footer {
  display: grid;
  align-self: center;
}

.item_footer {
  display: grid;
  gap: 0.5px;
  cursor: pointer;
  align-self: center;
  padding: 2px;
  color: white;
}

.item_footer:hover{
  color: #ec8f52;
}

.items_footer > span{
  margin-bottom: 7px;
}

.logo_footer {
  align-self: center;
  justify-self: center;
  width: 170px;
}