@import "reset.css";

/*---HEADER---*/
.menu {
  background-color: rgb(236, 143, 82);
  width: 100%;
  height: 70px;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.items {
  margin-top: 40px;
  margin-left: 73px;
  display: inline-block;
  font-size: 18px;
}

.item {
  margin-right: 46px;
  cursor: pointer;
}

.logo {
  margin-left: 90px;
  
}

.login {
  margin-top: 40px;
  margin-right: 73px;
  float: right;
  font-size: 18px;
  cursor: pointer;
}


/*---BODY---*/
body {
  font-family: "Roboto";
  background-color: rgba(250, 249, 222);
  position: relative;
  display:block;
}

h1 {
  padding-top: 122px;
}


/*---FOOTER---*/
footer {
  margin-top: 50px;
}

.footer {
  background-color: rgb(236, 143, 82);
  width: 100%;
  height: 122px;
  display: grid;
}

.items_footer {
  display: block;
}
