@import "common.css";

/*---Carousel---*/
.containerCarousel {
  height: 530px;
  margin: auto;
  overflow: hidden;
}

.carousel {
  height: 530px;
}

.carousel-caption {
  bottom: 50%;
  width: 450px;
  left: unset;
  right: unset;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  position: absolute;
  text-align: center;
}

.carousel-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner > .item > img {
  width: 100%;
  height: 700px;
}

.carousel-inner{
  cursor: pointer;
}

/*---Selects---*/
.sel_container {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 2fr;
  width: 700px;
}

.sel_title {
  display: inline-flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.sel_title > h2 {
  margin-top: 10px;
  position: absolute;
}
.sel_title > img {
  width: 100px;
  height: 120px;
  margin-left: 275px;
  margin-top: 8px;
}

.selectores {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  font-weight: bold;
  width: 700px;
  gap: 45px;
}

.sel_ingredients {
  float: left;
  display: grid;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.inp_ingredients {
  height: 58px;
  background-color: #f2efff;
  border: none;
  padding-left: 7px;
}

.sel_typePlate,
.sel_valEnergetic {
  gap: 0.8rem;
  display: grid;
  flex-wrap: wrap;
}

.sel_typePlate {
  margin-top: 14.6px;
}

.sel_minMax {
  margin-top: 2px;
}

#typePlate {
  width: 100%;
  cursor: pointer;
}

#ingredients {
  border-radius: 3px;
}

#numPer,
#valueMin,
#valueMax,
#typePlate,
#inp_ingredient {
  background-color: #f2efff;
  border: none;
  height: 35px;
  width: 100%;
  border-radius: 3px;
  font-size: 12px;
  font-weight: lighter;
  padding-left: 7px;
}

#numPer:focus,
#valueMin:focus,
#valueMax:focus,
#typePlate:focus,
#inp_ingredient:focus,
#ingredients:focus {
  border: solid 2px #fca035;
  outline: 0;
}

#valueMin,
#valueMax {
  margin-bottom: 15px;
}

.submit {
  background-color: white;
  border: solid 2px #fca035;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  height: 35px;
  margin: 40px auto;
}

.submit:hover,
.submit:focus {
  background-color: #fbc76f;
  outline: 0;
}

/*---Publicidad---*/
.advertisements {
  display: inline-grid;
  gap: 10px;
  float: right;
  margin-right: 40px;
  margin-top: 90px;
}

.advertising {
  width: 230px;
  border-radius: 3px;
  border: solid 1px #fca035;
}

/*---Recetas---*/
.rec_container {
  width: 950px;
  margin-top: 35px;
  margin-left: 40px;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 3fr 3fr;
  display: grid;
  gap: 0.6rem;
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.recipe > img {
  width: 100%;
  height: 100%;
}

.recipe:hover > img {
  opacity: 0.5;
}

.recipe:hover > .title_recipe {
  color: #fca035;
}

.title_recipe {
  position: absolute;
  padding: 20px;
  color: white;
  font-family: "Alex Brush", cursive;
  font-size: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.repos {
  grid-column: 1/3;
  grid-row: 3;
}

/*---Checkin---*/
.checkIn {
  margin: auto;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIn > .desc {
  position: absolute;
  text-align: center;
  cursor: pointer;
  color: white;
  width: 500px;
}
.checkIn > .desc > img {
  position: relative;
}

.btn_checkIn {
  width: 100px;
  height: 35px;
  background-color: white;
  border: solid 2px #fca035;
  border-radius: 3px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.btn_checkIn:hover,
.btn_checkIn:focus {
  background-color: #fbc76f;
  outline: 0;
}

/*---Latest recipe---*/
.lastRec_container {
  margin: 45px 48px;
  text-align: center;
}

.lastRec_container > h2 {
  font-weight: bold;
}

.latest_rec {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.last_rec > img{
  cursor: pointer;
}

.last_rec > img:hover{
  opacity: 0.6;
}

.rec_desc{
  margin-top: 25px;
}

.rec_desc > h4 {
  font-weight: bold;
}

.btn_lastRec {
  width: 100px;
  height: 35px;
  background-color: white;
  border: solid 2px #fca035;
  border-radius: 3px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.btn_lastRec:hover,
.btn_lastRec:focus {
  background-color: #fbc76f;
  outline: 0;
}