@import "common.css";

/*---Carousel---*/
.containerCarousel {
  width: 1349px;
  height: 450px;
  margin: auto;
}

/*---Selects---*/
.sel_container {
  border: solid 1px #ec8f52;
  margin-top: 25px;
  margin-left: 120px;
  padding-bottom: 20px;
  width: 760px;
  background-color: #f7f3cd;
  border-radius: 3px;
  display: inline-block;
}

legend {
  margin-left: 10px;
  width: auto;
  color: #ec8f52;
  font-weight: bold;
  font-size: 24px;
}

.selectors {
  align-items: center;
  margin-top: 19px;
  margin-left: 25px;
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  font-size: 18px;
  width: 700px;
  grid-gap: 35px;
}

.sel_ingredients {
  float: left;
  display: grid;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.inp_ingredients {
  height: 58px;
  background-color: #ded4c1;
  border: solid 1px #a6aa9c;
}

.sel_typePlate,
.sel_valEnergetic {
  gap: 0.6rem;
  display: grid;
  flex-wrap: wrap;
}

#typePlate {
  width: 100%;
  cursor: pointer;
}

#ingredients {
  border-radius: 3px;
}

#valueMin,
#valueMax,
#typePlate,
#inp_ingredient {
  background-color: #ded4c1;
  border: solid 1px #a6aa9c;
  height: 35px;
  width: 100%;
  border-radius: 3px;
}

#valueMin:focus,
#valueMax:focus,
#typePlate:focus,
#inp_ingredient:focus,
#ingredients:focus {
  border: solid 2px #ec8f52;
  outline: 0;
}

.sel_minMax {
  display: inline-flex;
  gap: 30px;
}

.submit {
  background-color: #f0ad80;
  border: solid 1px #ec8f52;
  border-radius: 3px;
  height: 35px;
}

.submit:focus {
  border: solid 3px #ec8f52;
  outline: 0;
}

/*---Publicidad---*/
.advertisements {
  display: inline-grid;
  margin-left: 100px;
  position: absolute;
}

.advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 230px;
  height: 378px;
  background-color: #f7f3cd;
  border-radius: 3px;
  border: solid 1px #ec8f52;
}

.checkIn {
  padding: 20px;
  float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 230px;
  background-color: #f7f3cd;
  border-radius: 3px;
  border: solid 1px #ec8f52;
  align-content: center;
  justify-items: center;
  display: grid;
}

.btn_checkIn {
  background-color: #f0ad80;
  border: solid 1px #ec8f52;
  border-radius: 3px;
  height: 35px;
}

.btn_checkIn:focus {
  border: solid 3px #ec8f52;
  outline: 0;
}

/*---Recetas---*/
.rec_container {
  width: 830px;
  height: 500px;
  margin-top: 35px;
  margin-left: 90px;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 3fr 3fr;
  display: grid;
  gap: 0.6rem;
}

.recipe {
  width: 412px;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.recipe:hover > img {
  opacity: 0.5;
}

.recipe:hover > .desc {
  color:black;
  font-weight: bold;
}

.title_recipe {
  position: absolute;
  font-size: 36px;
  color: white;  
}
