@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@400;500;700&display=swap");

/*---HEADER---*/
.navbar {
  padding: 0;
  background-color: white;
  border-bottom: solid 2px #a6aa9c;
}

.navbar-toggler {
  margin-left: 10px;
}

.navbar-toggler:focus {
  border: solid 2px #fca035;
  border-radius: 3px;
  outline: 0;
}

@media (min-width: 1240px) {
  .navbar-expand-sm {
    flex-flow: row nowrap !important;
    justify-content: flex-start;
  }

  .navbar-expand-sm .navbar-collapse {
    display: grid !important;
  }
}

@media (max-width: 1239px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-expand-sm .navbar-toggler {
    display: block !important;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }

  .collapse:not(.show) {
    display: none !important;
  }
}

.menu {
  background-color: white;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  font-size: 12px;
  font-weight: bold;
  color: black;
  align-self: center;
}

.mr-auto,
.mx-auto {
  margin-left: auto !important;
}

.item_block {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 38px;
}

.item_block:hover {
  color: #fca035;
}

.item {
  margin-right: 46px;
}

.item_icon {
  width: 14px;
  margin-right: 5px;
}

.logo-toggler {
  display: none;
}

.logo {
  align-self: center;
  justify-self: center;
  width: 90px;
  cursor: pointer;
}

.login {
  margin-left: 5px;
}

.login_icon {
  width: 14px;
  margin-left: 46px;
}

@media (max-width: 1239px) {
  .collapse:not(.show) {
    display: none !important;
  }

  .navbar-nav {
    margin-bottom: 10px;
  }

  .logo-toggler {
    margin: 10px 30px;
    width: 50px;
    display: block;
    cursor: pointer;
  }

  .logo {
    display: none;
  }

  .item {
    margin-right: 35px;
  }

  .login_icon {
    margin-left: 35px;
  }

  .nutri {
    margin-right: 0;
  }

  .cont {
    margin-left: 0;
  }
}

@media (max-width: 880px) {
  .navbar-expand-sm .navbar-collapse {
    display: grid !important;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .item_block {
    display: block;
    text-align: center;
    margin-top: 0;
  }

  .login,
  .item {
    margin: 10px 0;
  }

  .item_icon,
  .login_icon {
    margin: 0;
  }

  .contact {
    margin-top: 0;
  }
}

.btn_user {
  display: none;
  width: 130px;
  height: 35px;
  background-color: white;
  border: solid 2px #fca035;
  border-radius: 3px;
  font-size: 14px;
  gap: 6px;
  color: black;
  font-weight: bold;
  margin-left: 35px;
  justify-content: center;
  align-items: center;
}

.btn_user:hover,
.btn_user:focus {
  background-color: #fbc76f;
  outline: 0;
}

@media (max-width: 880px) {
  .btn_user {
    margin-left: 0;
  }
}

.dropdownMenu {
  top: -5px;
  left: 79%;
  width: 150px;
  margin-top: 90px;
  float: right;
  right: 0;
  position: fixed;
  z-index: 1;
}

.dropdownMenuResp {
  display: none;
}

@media (max-width: 1240px) {
  .dropdownMenu {
    top: 70px;
    left: 77.5%;
  }  
}

@media (max-width: 880px) {
  .dropdownMenu {
    display: none;
  }

  .dropdownMenuResp {
    display: block;
  }
}

a.bg-light:hover,
a.bg-light:focus,
.checked {
  background-color: #fbc76f !important;
  color: black;
}

a.bg-light > p {
  padding-bottom: 0;
}

.border-right {
  border-right: 1px solid #a6aa9c !important;
}

.list-group-item {
  border: solid 1px #a6aa9c;
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: solid 1px #a6aa9c !important;
}

.noShowdropdown {
  display: none;
}

/*---BODY---*/
body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: auto;
}

.title {
  font-size: 36px;
  padding-bottom: 15px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  padding-bottom: 15px;
}

h2 {
  font-size: 22px;
  padding-bottom: 15px;
}

h3 {
  font-size: 20px;
  padding-bottom: 15px;
}

h4 {
  font-size: 18px;
  padding-bottom: 15px;
}

h5 {
  font-size: 16px;
  padding-bottom: 15px;
}

p {
  font-size: 14px;
  padding-bottom: 15px;
}

.button,
.button:focus {
  width: 100px;
  height: 35px;
  background-color: white;
  border: solid 2px #fca035;
  border-radius: 3px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  outline: 0;
}

.button:hover,
.button:active {
  background-color: #fbc76f;
  outline: 0;
}

/*---FOOTER---*/
.footer {
  margin-top: 50px;
  background-color: black;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 12px;
  font-weight: bold;
  padding: 30px;
}

.items_net,
.items_footer {
  margin-top: 20%;
}

.items_footer1 {
  display: none;
}

.items_footerResp {
  display: grid;
}

.item_footer {
  display: grid;
  gap: 0.5px;
  cursor: pointer;
  align-self: center;
  padding: 2px;
  color: white;
  margin-bottom: 7px;
}

.item_footer:hover {
  color: #fca035;
}

.logo_footer {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  width: 170px;
}

.item_footer.contact {
  pointer-events: none;
}

.item_footer.contact:hover {
  color: white;
}

.items_net > span {
  margin-bottom: 7px;
}

.icons_footer {
  display: inline-flex;
  width: 30px;
  cursor: pointer;
}

.icons_footer:hover {
  background-color: #fca035;
  border-radius: 10px;
}

@media screen and (min-width: 900px) {
  .footer {
    grid-template-columns: repeat(5, 1fr);
  }

  .items_footer1,
  .items_footer {
    display: grid;
    align-self: center;
  }

  .items_footerResp {
    display: none;
  }

  .items_footer {
    margin-top: 0;
  }

  .items_net {
    margin-top: 27px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }

  .logo_footer {
    width: 100px;
  }

  .items_footer,
  .items_net,
  .items_footerResp {
    text-align: center;
    margin-top: 10%;
  }
}
