@import "common.css";

.contact_container {
  margin: 80px auto;
  padding: 50px 20px 5px;
  width: 700px;
}

.messageError {
  display: none;
  font-size: 16px;
  color: white;
  border: solid 1px red;
  background-color: #d41717;
  margin-bottom: 25px;
  padding: 10px;
}

#loginForm {
  margin-top: 15px;
  width: 490px;
  float: left;
}

@media screen and (max-width: 900px) {
  .contact_container {
    width: 570px;
  }

  #loginForm {
    width: 360px;
  }
}

@media screen and (max-width: 700px) {
  .contact_container {
    width: 450px;    
  }
}

@media screen and (max-width: 500px) {
  .contact_container {
    width: 300px;
    padding: 50px 0 5px;
  }

  #loginForm {
    width: 290px;
    float: none;
  }
}

.inputs_form {
  margin-bottom: 20px;
}

.inputs_form > label {
  margin-bottom: 10px;
}

.inputs_form > p {
  display: inline-flex;
  margin-left: 5px;
}

.inputs-group {
  margin-bottom: 10px;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form-control {
  background-color: #f0f8ff;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #fca035;
  border: 0;
}

#name,
#email {
  width: 70%;
}

#textComment {
  min-height: 200px;
}

.info {
  float: right;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .info {
    position: absolute;
    right: 60px;
  }
}

@media screen and (max-width: 600px) {
  #name,
  #email {
    width: 100%;
  }

  .info {
    display: none;
  }
}

.btn_contact {
  margin: 35px auto;
  display: block;
}
