@import "common.css";

/*---Carousel---*/
.carousel {
  height: 530px;
  overflow: hidden;
  margin-top: 40px auto 0;
}

@media screen and (min-width: 1500px) {
  .carousel {
    height: 700px;
  }
}

@media screen and (max-width: 700px) {
  .carousel {
    height: 350px;
  }
}

.carousel-inner {
  cursor: pointer;
}

.imgCarousel {
  width: 100%;
  height: 530px;
  object-fit: cover;
}

@media screen and (min-width: 1500px) {
  .imgCarousel {
    height: 700px;
    object-fit: cover;
  }
}

@media screen and (max-width: 700px) {
  .imgCarousel {
    height: 350px;
    object-fit: cover;
  }
}

.carousel-indicators > li {
  width: 1rem;
  max-width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.carousel-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-caption {
  bottom: auto;
  top: 30%;
  width: 450px;
  left: unset;
  right: unset;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  position: absolute;
}

.carousel-caption > .score_rec {
  float: inherit;
}

@media screen and (max-width: 800px) {
  .carousel-caption {
    padding: 15px;
    width: 350px;
    bottom: auto;
    top: 35%;
  }

  .carousel-caption > .title {
    font-size: 25px;
  }

  .carousel-caption > h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .carousel-caption {
    padding: 15px;
    width: 200px;
    bottom: auto;
    top: 30%;
  }

  .carousel-caption > .title {
    font-size: 20px;
  }

  .carousel-caption > h3 {
    font-size: 15px;
  }
}

/*---Selects---*/
.sel_container {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
}

@media screen and (min-width: 800px) {
  .sel_container {
    grid-template-columns: 2fr;
    width: 700px;
  }
}

@media screen and (max-width: 500px) {
  .sel_container {
    width: 300px;
  }
}

.sel_title {
  display: inline-flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.sel_title > h2 {
  margin-top: 10px;
  position: absolute;
}

.sel_title > img {
  width: 100px;
  height: 120px;
  margin-left: 275px;
  margin-top: 8px;
}

@media screen and (max-width: 500px) {
  .sel_title > h2 {
    font-size: 18px;
  }

  .sel_title > img {
    width: 80px;
    margin-left: 225px;
  }
}

.selectores {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 14px;
  font-weight: bold;
  width: 400px;
  gap: 20px 45px;
}

@media screen and (min-width: 800px) {
  .selectores {
    grid-template-columns: 1fr 1fr;
    width: 700px;
  }
}

@media screen and (max-width: 500px) {
  .selectores {
    width: 300px;
  }
}

.sel_ingredients,
.sel_valEnergetic,
.sel_persons,
.sel_typePlate {
  display: grid;
  gap: 0.8rem;
}

#inp_ingredient,
#valueMin,
#valueMax,
#numPer,
#typePlate {
  background-color: #f0f8ff;
  border: none;
  height: 35px;
  width: 100%;
  border-radius: 3px;
  font-size: 12px;
  font-weight: lighter;
  padding-left: 7px;
}

#ingredients {
  height: 58px;
  background-color: #f0f8ff;
  border: none;
  padding-left: 7px;
  border-radius: 3px;
}

#valueMin,
#valueMax {
  margin-bottom: 18px;
}

#typePlate {
  cursor: pointer;
}

#inp_ingredient:focus,
#ingredients:focus,
#valueMin:focus,
#valueMax:focus,
#numPer:focus,
#typePlate:focus {
  border: solid 2px #fca035;
  outline: 0;
}

.submit {
  margin: 40px auto;
}

.block_container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .block_container {
    grid-template-columns: 1fr;
  }
}

/*---Publicidad---*/
.adverti_resp {
  width: 70%;
  height: 250px;
  margin: auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 1000px) {
  .adverti_resp {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .adverti_resp {
    height: 150px;
  }
}

.advertisements {
  display: inline-grid;
  gap: 10px;
  float: right;
  margin-left: 40px;
}

@media screen and (max-width: 1000px) {
  .advertisements {
    display: none;
  }
}

.advertising {
  width: 70%;
  border-radius: 3px;
  border: solid 1px #a6aa9c;
}

/*---Recetas---*/
.rec_container {
  grid-template-columns: 1fr;
  display: grid;
  gap: 0.6rem;
}

@media screen and (min-width: 700px) {
  .rec_container {
    grid-template-columns: 1fr 1fr;
  }
}

.recipeType {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.recipeType > img {
  width: 100%;
  height: 100%;
}

.recipeType:hover > img {
  opacity: 0.5;
  transition: all 0.5s ease-in;
}

.recipeType:hover > .title_recipe {
  color: #fca035;
}

.title_recipe {
  position: absolute;
  padding: 15px;
  color: white;
  font-family: "Alex Brush", cursive;
  font-size: 65px;
  background-color: rgba(0, 0, 0, 0.4);
}

.repos {
  grid-column: 1/3;
  grid-row: 3;
}

@media screen and (max-width: 700px) {
  .repos {
    grid-column: 1;
    grid-row: auto;
  }
}

/*---Checkin---*/
.checkIn {
  margin: auto;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIn > .img-resp {
  display: none;
}

.checkIn > .desc {
  position: absolute;
  text-align: center;
  cursor: pointer;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 450px) {
  .checkIn > .desc > h2 {
    font-size: 18px;
  }

  .checkIn > .desc > p {
    font-size: 12px;
  } 
}

.btn_checkIn {
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .checkIn > .img-resp {
    display: flex;
  }

  .checkIn > .img {
    display: none;
  } 
}

/*---Latest recipe---*/
.lastRec_container {
  margin: 45px auto;
  text-align: center;
  width: 80%;
}

.lastRec_container > h2 {
  font-weight: bold;
}

.latest_rec {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 1240px) {
  .latest_rec {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .latest_rec {
    grid-template-columns: 1fr;
  }
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 15px;
}

.recipe > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.recipe:hover > img {
  opacity: 0.8;
  transition: all 0.5s ease-in;
}

.entrantes:hover > .desc_rec {
  color: #74de4f;
}

.primeros:hover > .desc_rec {
  color: #85b4f3;
}

.segundos:hover > .desc_rec {
  color: #bf8d9b;
}

.postres:hover > .desc_rec {
  color: #34c9b6;
}

.repos:hover > .desc_rec {
  color: #ff6b7b;
}

.desc_rec {
  position: absolute;
  padding: 10px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 250px;
}

.desc_rec > h3 {
  font-weight: bold;
  border: outside 1px;
}

.info_rec {
  float: left;
}

.score_rec {
  float: right;
}

.time_rec {
  display: flex;
  justify-content: center;
}

p {
  padding-bottom: 10px;
}

.clock {
  margin-right: 3px;
  color: #fca035;
}

