@import "common.css";
@import "panelUsuario.css";

/* .settings_container {
  margin: 150px 100px;
  border: solid 1px #a6aa9c;
}

@media screen and (max-width: 500px) {
  .settings_container {
    width: 280px;
  }
}

.settings_container > h2 {
  margin-bottom: 25px;
}

#sidebar-wrapper {
  min-width: 200px;
  height: auto;
  text-align: center;
}

.bg-light {
  background-color: #ffda9a !important;
}

a.bg-light:hover,
a.bg-light:focus,
.checked {
  background-color: #fbc76f !important;
  color: black;
}

.border-right {
  border-right: 1px solid #a6aa9c !important;
}

.list-group-item {
  border: solid 1px #a6aa9c;
  padding: 25px;
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: solid 1px #a6aa9c !important;
}

#page-content-wrapper {
  padding: 25px 25px 150px;
  width: 100%;
}

.mt-4 {
  font-weight: bold;
}

.list-group-item.toggled {
  padding: 10px 5px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 45px;
  min-width: 0;
}

.siToggle,
.noToggle {
  padding-bottom: 0;
}

.noShow {
  display: none;
}

.fas.noShow {
  display: none;
}

.btn_coll {
  margin-top: 40px;
  color: #495057;
  padding: 5px;
}

.btn_coll:hover {
  color: black;
  background-color: #fbc76f;
}

.btn_coll:focus {
  box-shadow: none;
}

.collapseBtn {
  display: inline-flex;
}

.fa-chevron-left {
  font-size: 18px;
}

p.noToggle {
  margin-left: 10px;
} */

#page-content-wrapper {
  width: 100%;
  overflow: hidden;
}

.btn_add,
.btn_add:focus {
  margin: 40px auto;
  display: block;
  width: 150px;
  float: right;
}

.tableRec {
  width: 100%;
  overflow-y: hidden;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

tr {
  border: solid 1px #a6aa9c;
  padding: 10px;
}

td {
  padding: 10px;
}

.nameRec {
  float: left;
  cursor: pointer;
}

.nameRec:hover {
  color: #fca035; 
}

.icon {
  cursor: pointer;
}
.icon:hover {
  cursor: pointer;
  color: #fca035;
}

.val {
  display: inline-flex;
  margin-top: 40px;
  float: right;
  gap: 15px;
}

@media screen and (max-width: 700px) {
  .btn_add,
  .btn_add:focus,
  .val {
    float: none;
  }

  table {
    width: 450px;
  }
}
