@import "common.css";

.nutri_container {
  margin: 80px auto;
  padding: 25px 20px 5px;
}

.users_cont,
.nutri_cont {
  display: flex;
  width: 800px;
  margin: 75px auto;
  gap: 40px;
}

.users_cont > img,
.nutri_cont > img {
  width: 300px;
}

.adverti_cont {
  width: 500px;
  margin: 75px auto;
}

.adverti_cont > img {
  width: 500px;
  height: 150px;
}

.text_users,
.text_nutri {
  display: block;
  text-align: center;
}

.img-resp {
  display: none;
}

.text{
  text-align : justify;
}

@media screen and (max-width: 880px) {
  .users_cont,
  .nutri_cont {
    display: block;
    width: 550px;
    text-align: center;
    margin: 25px auto;
  }

  .users_cont > img,
  .nutri_cont > img {
    margin-top: 25px;
  }

  .img-noResp {
    display: none;
  }

  .img-resp {
    display: initial;
  }
}

@media screen and (max-width: 600px) {
  .users_cont,
  .nutri_cont {
    width: 320px;
    margin: 0px auto;
  }

  .adverti_cont {
    width: 320px;
  }
  
  .adverti_cont > img {
    width: 320px;
  }
}

.btn_checkIn {
  width: 100px;
  height: 35px;
  background-color: white;
  border: solid 2px #fca035;
  border-radius: 3px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.btn_checkIn:hover,
.btn_checkIn:focus {
  background-color: #fbc76f;
  outline: 0;
}
