@import "common.css";
@import "panelUsuario.css";

@media screen and (max-width: 920px) {
  .settings_container {
    margin: 100px 50px;
  }
}

@media screen and (max-width: 600px) {
  .settings_container {
    margin: 80px 0;
    width: 100%;
    overflow: hidden;
  }
}

#page-content-wrapper {
  width: 100%;
  overflow: hidden;
}

.mt-4 {
  margin-bottom: 50px;
}

/*---User page---*/
.nutrist_cont {
  display: inline-flex;
  gap: 50px;
}

.nutrist {
  border: solid 1px #a6aa9c;
  display: inline-flex;
  gap: 20px;
  padding: 20px;
  margin-left: 30px;
}

#nameNutri {
  padding-bottom: 0;
  margin-right: 30px;
  cursor: pointer;
}

i {
  cursor: pointer;
}

#nameNutri:hover,
i:hover {
  color: #fca035;
}

.far,
.fas {
  font-size: 18px;
}

.diet {
  border: solid 1px #a6aa9c;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
}

#fichero {
  padding-bottom: 0;
}

@media (max-width: 1240px) and (min-width: 1020px) {
  .nutrist_cont {
    gap: 20px;
  }

  .nutrist {
    margin-left: 0px;
  }

  #fichero {
    font-size: 12px;
  }
}

@media (max-width: 1020px) and (min-width: 770px) {
  .nutrist_cont {
    width: 400px;
  }
}

@media (max-width: 1020px) {
  .nutrist_cont {
    display: grid;
    gap: 20px;
  }

  .nutrist {
    margin-left: 0px;
    justify-content: space-between;
  }

  .diet {
    justify-self: right;
  }
}

.search_nutri {
  margin-top: 150px;
  width: 100%;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.h5 {
  margin-left: 30px;
}

.postCod {
  margin-left: 200px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-right: 30px;
  height: 40px;
  background-color: #f0f8ff;
  border: 1px solid #ced4da;
  padding: 15px;
  width: 200px;
}

.nutritionists {
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 800px;
}

@media (max-width: 1240px) {
  .nutritionists {
    grid-template-columns: repeat(2, 1fr);
    width: 450px;
  }

  .postCod {
    margin-left: 100px;
  }
}

@media (max-width: 820px) {
  .nutritionists {
    grid-template-columns: 1fr;
    width: 200px;
  }

  .postCod {
    margin-left: 0;
    display: grid;
    gap: 10px;
  }

  .postCod > label,
  input,
  .btn_add {
    margin: auto;
  }

  .h5 {
    margin-left: 0;
  }

  .btn_add {
    margin-top: 10px;
  }
}

.infoNutri {
  text-align: center;
  border: solid 1px #a6aa9c;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

.infoNutri:hover {
  box-shadow: 0 0 0 0.2rem #fca035;
  border: 0;
}

#name {
  padding-bottom: 10px;
}

#dire {
  padding-bottom: 5px;
}

#titul {
  padding-bottom: 20px;
}

.nutrist_container {
  display: block;
}

.user_container {
  display: block;
}

/*---Nutritionist page---*/
.user_cont {
  display: inline-flex;
  gap: 50px;
  margin-top: 20px;
}

@media (max-width: 1240px) and (min-width: 1020px) {
  .user_cont {
    gap: 20px;
  }
}

@media (max-width: 1020px) and (min-width: 770px) {
  .user_cont {
    width: 400px;
  }
}

@media (max-width: 1020px) {
  .user_cont {
    display: grid;
    gap: 0;
  }
}

.desc_nutri {
  margin: 100px 50px 0;
  width: 800px;
}

@media (max-width: 1320px) {
  .desc_nutri {
    margin: 100px 10px 0;
    width: 600px;
  }
}

.inputs {
  display: grid;
  margin-bottom: 25px;
}

#input_titul,
textarea {
  border: solid 1px #a6aa9c;
  background-color: #f0f8ff;
  height: 38px;
  border-radius: 3px;
  padding: 6px 12px;
}

#input_titul {
  width: 500px;
}

textarea {
  width: 100%;
  height: 150px;
}

@media (max-width: 1100px) {
  .desc_nutri {
    width: 400px;
  }

  #input_titul {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .desc_nutri {
    width: 350px;
  }
}

@media (max-width: 780px) {
  .desc_nutri {
    width: 280px;
  }
}

.buttons {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn_see,
.btn_see:focus {
  width: fit-content;
}